@charset 'utf-8';

body {
background-color: #FFFFFF;
font-size: 0px;
padding: 0;
margin: 0;
font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
}
.wrapper {
width: 100%;
margin: 0 auto;

}

h1,
h2{
  margin: 0;
  padding: 0;
}

p{
  margin-bottom: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}
.left {
float: left;
width: 729px;
}
.right {
width: 729px;
float: right;
}

.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

ul{
  list-style:none;
  overflow: hidden;
}
footer {

  text-align: center;
}

footer small {
  font-size:.8rem;
}

.txArea {
  position: relative;
  background: #FFF;
}
.txArea p {
  text-align: center;
  line-height: 1.6;
  font-size: 15px;
  position: relative;
  width: 95%;
  margin: 0 auto;
}

.exTextArea {
  background: url(../img/thankyou_img04.png) no-repeat left bottom;
  -webkit-background-size: 100% auto;
       -o-background-size: 100% auto;
          background-size: 100% auto;
      padding-bottom: 14rem;
      padding-top: 3rem;
}

.exTextArea p{
  position: static;
  width: 95%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.6;
  font-size: 15px;
  margin-left: auto!important;
}

.headerArea {
  margin: 0 0 -5rem;
  position: relative;
  z-index: 50;

}

.headerArea h1 {
  padding-top: 2rem;
}

.nuriettl {
  position: relative;
  z-index: 100;
  border-bottom: 5px solid #000;
}

.fireworks {
  -webkit-background-size: 100% auto;
       -o-background-size: 100% auto;
          background-size: 100% auto;
  padding: 2rem 0 4rem;
}

.Area-01 p{
  color: #636161;
  padding: 0 1rem 3em;
  text-align: left;
}
.Area-02 p.tx-01{
  top: 2.5rem;
  left: 50%;
  margin-left: -50%;
  color: #FFF;
  padding: 0 2rem;
}
.Area-02 p.tx-02{
  position: relative;
  bottom: 12%;
  left: 0;

}

.attention{
  font-size: 16px;
  margin: 0 auto 0 auto;
  color: #000;
  width: 95%;
  text-align: left;
  display: inline-block;
  padding: 1rem 0;
}

.ta-r{
  text-align: right!important;
}

.signature {
  margin-top: 2rem!important;
}

/*------------------
  STEP1
------------------*/
.step1{
  display: none;
}
.is-step1 .step1{
  display:block;
}
/*------------------
  STEP2
------------------*/
.step2 {
  display: none;
}
.is-step2 .step1{
  display:none;
}
.is-step2 .step2{
  display:block;
}
/*------------------
  STEP3
------------------*/
.step3 {
  display: none;
}
.is-step3 .step3{
  display:block;
}
.is-step3 .step2{
  display:none;
}
.is-step3 .step1{
  display:none;
}
/*------------------
  STEP4
------------------*/
.step4 {
  display: none;
}
.is-step4 .step1{
  display:none;
}
.is-step4 .step2{
  display:none;
}
.is-step4 .step3{
  display:none;
}
@media only screen and (max-device-width:480px) and (orientation:landscape) {
  .txArea p {font-size: 23px;}
}
